In [1]:
import numpy as np
import pandas as pd
import copy
import os

In [2]:
col = ['reg_no', 'int', 'ext', 'total', 'grade','Time', 'Year', 'Type', 'Code', 'Credit', 'Title', 'Cutoff_S', 'Cutoff_A', 'Cutoff_B', 'Cutoff_C','Cutoff_D','Cutoff_E', 'Dir', 'Absentees', 'Malpractices', 'Detentions', 'NA', 'appeared']
cleaned_data = pd.read_csv('MainDatabase.csv',sep=',', names=col)
cleaned_data.head()

C:\Users\Xenon\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (9,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,reg_no,int,ext,total,grade,Time,Year,Type,Code,Credit,...,Cutoff_B,Cutoff_C,Cutoff_D,Cutoff_E,Dir,Absentees,Malpractices,Detentions,NA,appeared
0,20130031,7.85,26.5,35.00,E,JAN,2019,SUPP,CE1102,3.0,...,62.0,53.0,44.0,35.0,JAN-2019,0,0,0,0.0,0
1,20130575,9.00,AB,0.00,I,JAN,2019,SUPP,CE1102,3.0,...,62.0,53.0,44.0,35.0,JAN-2019,0,0,0,0.0,0
2,20140130,4.00,AB,0.00,I,JAN,2019,SUPP,CE1102,3.0,...,62.0,53.0,44.0,35.0,JAN-2019,0,0,0,0.0,0
3,20140398,15.50,AB,0.00,I,JAN,2019,SUPP,CE1102,3.0,...,62.0,53.0,44.0,35.0,JAN-2019,0,0,0,0.0,0
4,20140477,11.50,26.5,38.00,E,JAN,2019,SUPP,CE1102,3.0,...,62.0,53.0,44.0,35.0,JAN-2019,0,0,0,0.0,0

In [3]:
cleaned_data[['reg_no', 'int', 'ext', 'grade', 'Year', 'Type', 'Code', 'Credit', 'Title']].head()

,reg_no,int,ext,grade,Year,Type,Code,Credit,Title
0,20130031,7.85,26.5,E,2019,SUPP,CE1102,3.0,MECHANICS OF SOLIDS _11 12 13 14 15 16__4CR UP...
1,20130575,9.00,AB,I,2019,SUPP,CE1102,3.0,MECHANICS OF SOLIDS _11 12 13 14 15 16__4CR UP...
2,20140130,4.00,AB,I,2019,SUPP,CE1102,3.0,MECHANICS OF SOLIDS _11 12 13 14 15 16__4CR UP...
3,20140398,15.50,AB,I,2019,SUPP,CE1102,3.0,MECHANICS OF SOLIDS _11 12 13 14 15 16__4CR UP...
4,20140477,11.50,26.5,E,2019,SUPP,CE1102,3.0,MECHANICS OF SOLIDS _11 12 13 14 15 16__4CR UP...

In [3]:
pd.concat(g for _, g in cleaned_data.groupby(col) if len(g) > 1)

ValueError: No objects to concatenate

In [6]:
#cleaned_data = copy.deepcopy(data)

In [6]:
#old_shape = cleaned_data.shape

In [4]:
cleaned_data.drop_duplicates(keep='first',inplace=True)

In [8]:
old_shape[0] - cleaned_data.shape[0]

25865

In [11]:
cleaned_data[(cleaned_data['reg_no'].str.contains('200512056')) & (cleaned_data['ext'].str.contains('AB'))]

,reg_no,int,ext,total,grade,Time,Year,Type,Code,Credit,...,Cutoff_B,Cutoff_C,Cutoff_D,Cutoff_E,Dir,Absentees,Malpractices,Detentions,NA,appeared
288400,200512056,19.00,AB,0.00,I,NOV_DEC,2012,BACK,EC301_MA1306,4.0,...,64.0,55.0,45.0,35.0,NOV_DEC_2012,0,0,0,0.0,0

In [ ]:
cleaned_data[cleaned_data.reg_no.str.contains(201600045)]

In [4]:
cleaned_data = cleaned_data.applymap(str)

In [10]:
#cleaned_data['reg_no'] = cleaned_data['reg_no'].apply(str)
#cleaned_data['Year'] = cleaned_data['Year'].apply(str)
#cleaned_data.head()
reg_filter = cleaned_data['reg_no'].str.contains('201600045') 
#code_filter = cleaned_data['Code'].str.contains('EC1308')
cleaned_data[reg_filter][['Title', 'ext', 'total']].shape

(46, 3)

In [252]:
code_filter = cleaned_data['Code'].str.contains('COA')
year_filter = cleaned_data['Year'].str.contains('2013')
cleaned_data[code_filter & year_filter][['Code', 'Title', 'Year', 'Time']].shape

(7130, 4)

In [198]:
cleaned_data[cleaned_data['Title'].str.contains('BASIC ELECTRONICS') & cleaned_data['Year'].str.contains('2013')][['Title', 'Code']].head()

                    Title                                   Code
230280  BASIC ELECTRONICS  COB102_COA202_NEW__COA105_COB205_OLD_
230281  BASIC ELECTRONICS  COB102_COA202_NEW__COA105_COB205_OLD_
235750  BASIC ELECTRONICS                                 COB102
235751  BASIC ELECTRONICS                                 COB102
235752  BASIC ELECTRONICS                                 COB102

## Correcting 'COA' in Subjects Code

In [204]:
# sub : COA101 , year : 2012, title : maths1
code_filter1 = cleaned_data['Code'].str.contains('COA')
code_filter2 = cleaned_data['Code'].str.contains('_MA1101')
year_filter = cleaned_data['Year'].str.contains('2013')

#cleaned_data.loc[cleaned_data.Title.str.contains('ENGINEERING MATHEMATICS I') & cleaned_data.Credit.str.contains('4.0') & cleaned_data.Year.str.contains('2013'), 'Code'] = cleaned_data.loc[cleaned_data.Title.str.contains('ENGINEERING MATHEMATICS I') & cleaned_data.Credit.str.contains('4.0') & cleaned_data.Year.str.contains('2013'), 'Code']+'__MA1101'
print(cleaned_data[code_filter1 & ~code_filter2 & year_filter][['Title', 'Code', 'Time', 'Year', 'Credit']])
checkpoint = copy.deepcopy(cleaned_data)

                                     Title  \
230278                 ENGINEERING PHYSICS
230279                ENGINEERING GRAPHICS
230280                   BASIC ELECTRONICS
230281                   BASIC ELECTRONICS
230282        COMPUTER PROGRAMMING USING C
233650                 MECHANICS OF SOLIDS
233651                 MECHANICS OF SOLIDS
233652                 MECHANICS OF SOLIDS
233653                 MECHANICS OF SOLIDS
233654                 MECHANICS OF SOLIDS
233655                 MECHANICS OF SOLIDS
233656                 MECHANICS OF SOLIDS
233657                 MECHANICS OF SOLIDS
233658                 MECHANICS OF SOLIDS
233659                 MECHANICS OF SOLIDS
233660                 MECHANICS OF SOLIDS
233661                 MECHANICS OF SOLIDS
233662                 MECHANICS OF SOLIDS
233663                 MECHANICS OF SOLIDS
233664                 MECHANICS OF SOLIDS
233665                 MECHANICS OF SOLIDS
233666                 MECHANICS OF SOLIDS
233667                 MECHANICS OF SOLIDS
233668                 MECHANICS OF SOLIDS
233669                 MECHANICS OF SOLIDS
233670                 MECHANICS OF SOLIDS
233671                 MECHANICS OF SOLIDS
233672                 MECHANICS OF SOLIDS
233673                 MECHANICS OF SOLIDS
233674                 MECHANICS OF SOLIDS
...                                    ...
266572  ELEMENTS OF MECHANICAL ENGINEERING
266573  ELEMENTS OF MECHANICAL ENGINEERING
266852                ENGINEERING GRAPHICS
266853                ENGINEERING GRAPHICS
266854                ENGINEERING GRAPHICS
266855                ENGINEERING GRAPHICS
266856                ENGINEERING GRAPHICS
266857                ENGINEERING GRAPHICS
267137                COMMUNICATION SKILLS
267138                COMMUNICATION SKILLS
267139                COMMUNICATION SKILLS
267140                COMMUNICATION SKILLS
267141                COMMUNICATION SKILLS
267142                COMMUNICATION SKILLS
267143                COMMUNICATION SKILLS
267144                COMMUNICATION SKILLS
267145                COMMUNICATION SKILLS
267146                COMMUNICATION SKILLS
267147                COMMUNICATION SKILLS
267148                COMMUNICATION SKILLS
267149                COMMUNICATION SKILLS
267150                COMMUNICATION SKILLS
267428             ENGINEERING PHYSICS LAB
267429             ENGINEERING PHYSICS LAB
267430             ENGINEERING PHYSICS LAB
267431             ENGINEERING PHYSICS LAB
267432             ENGINEERING PHYSICS LAB
267709               WORKSHOP PRACTICE LAB
267710               WORKSHOP PRACTICE LAB
267711               WORKSHOP PRACTICE LAB

                                         Code           Time  Year Credit
230278                          COA103_COB203        NOV_DEC  2013    4.0
230279  COA105_COB205_NEW__COA107_COB207_OLD_        NOV_DEC  2013    3.0
230280  COB102_COA202_NEW__COA105_COB205_OLD_        NOV_DEC  2013    4.0
230281  COB102_COA202_NEW__COA105_COB205_OLD_        NOV_DEC  2013    4.0
230282                          COB105_COA205        NOV_DEC  2013    4.0
233650                                 COA102        NOV_DEC  2013    4.0
233651                                 COA102        NOV_DEC  2013    4.0
233652                                 COA102        NOV_DEC  2013    4.0
233653                                 COA102        NOV_DEC  2013    4.0
233654                                 COA102        NOV_DEC  2013    4.0
233655                                 COA102        NOV_DEC  2013    4.0
233656                                 COA102        NOV_DEC  2013    4.0
233657                                 COA102        NOV_DEC  2013    4.0
233658                                 COA102        NOV_DEC  2013    4.0
233659                                 COA102        NOV_DEC  2013    4.0
233660                                 COA102        NOV_DEC  2013    4.0
233661                                 COA102        NOV_DEC  2013    4.0
233662                                 COA102        NOV_DEC  2013    4.0
233663                                 COA102        NOV_DEC  2013    4.0
233664                                 COA102        NOV_DEC  2013    4.0
233665                                 COA102        NOV_DEC  2013    4.0
233666                                 COA102        NOV_DEC  2013    4.0
233667                                 COA102        NOV_DEC  2013    4.0
233668                                 COA102        NOV_DEC  2013    4.0
233669                                 COA102        NOV_DEC  2013    4.0
233670                                 COA102        NOV_DEC  2013    4.0
233671                                 COA102        NOV_DEC  2013    4.0
233672                                 COA102        NOV_DEC  2013    4.0
233673                                 COA102        NOV_DEC  2013    4.0
233674                                 COA102        NOV_DEC  2013    4.0
...                                       ...            ...   ...    ...
266572  COB204_COA104_NEW__COA204_COB104_OLD_  APRIL_MAY_APR  2013    4.0
266573  COB204_COA104_NEW__COA204_COB104_OLD_  APRIL_MAY_APR  2013    4.0
266852  COB205_COA105_NEW__COB207_COA107_OLD_  APRIL_MAY_APR  2013    3.0
266853  COB205_COA105_NEW__COB207_COA107_OLD_  APRIL_MAY_APR  2013    3.0
266854  COB205_COA105_NEW__COB207_COA107_OLD_  APRIL_MAY_APR  2013    3.0
266855  COB205_COA105_NEW__COB207_COA107_OLD_  APRIL_MAY_APR  2013    3.0
266856  COB205_COA105_NEW__COB207_COA107_OLD_  APRIL_MAY_APR  2013    3.0
266857  COB205_COA105_NEW__COB207_COA107_OLD_  APRIL_MAY_APR  2013    3.0
267137  COB206_COA106_NEW__COA205_COB105_OLD_  APRIL_MAY_APR  2013    3.0
267138  COB206_COA106_NEW__COA205_COB105_OLD_  APRIL_MAY_APR  2013    3.0
267139  COB206_COA106_NEW__COA205_COB105_OLD_  APRIL_MAY_APR  2013    3.0
267140  COB206_COA106_NEW__COA205_COB105_OLD_  APRIL_MAY_APR  2013    3.0
267141  COB206_COA106_NEW__COA205_COB105_OLD_  APRIL_MAY_APR  2013    3.0
267142  COB206_COA106_NEW__COA205_COB105_OLD_  APRIL_MAY_APR  2013    3.0
267143  COB206_COA106_NEW__COA205_COB105_OLD_  APRIL_MAY_APR  2013    3.0
267144  COB206_COA106_NEW__COA205_COB105_OLD_  APRIL_MAY_APR  2013    3.0
267145  COB206_COA106_NEW__COA205_COB105_OLD_  APRIL_MAY_APR  2013    3.0
267146  COB206_COA106_NEW__COA205_COB105_OLD_  APRIL_MAY_APR  2013    3.0
267147  COB206_COA106_NEW__COA205_COB105_OLD_  APRIL_MAY_APR  2013    3.0
267148  COB206_COA106_NEW__COA205_COB105_OLD_  APRIL_MAY_APR  2013    3.0
267149  COB206_COA106_NEW__COA205_COB105_OLD_  APRIL_MAY_APR  2013    3.0
267150  COB206_COA106_NEW__COA205_COB105_OLD_  APRIL_MAY_APR  2013    3.0
267428  COB207_COA107_NEW__COB208_COA108_OLD_  APRIL_MAY_APR  2013    1.5
267429  COB207_COA107_NEW__COB208_COA108_OLD_  APRIL_MAY_APR  2013    1.5
267430  COB207_COA107_NEW__COB208_COA108_OLD_  APRIL_MAY_APR  2013    1.5
267431  COB207_COA107_NEW__COB208_COA108_OLD_  APRIL_MAY_APR  2013    1.5
267432  COB207_COA107_NEW__COB208_COA108_OLD_  APRIL_MAY_APR  2013    1.5
267709  COB208_COA108_NEW__COA209_COB109_OLD_  APRIL_MAY_APR  2013    1.5
267710  COB208_COA108_NEW__COA209_COB109_OLD_  APRIL_MAY_APR  2013    1.5
267711  COB208_COA108_NEW__COA209_COB109_OLD_  APRIL_MAY_APR  2013    1.5

[5507 rows x 5 columns]

In [207]:
# sub : COA102, year : 2012, title ; mos
code_filter1 = cleaned_data['Code'].str.contains('COA')
code_filter2 = cleaned_data['Code'].str.contains('_CE1102')
year_filter = cleaned_data['Year'].str.contains('2013')
#cleaned_data.loc[cleaned_data.Title.str.contains('MECHANICS OF SOLIDS') & cleaned_data.Credit.str.contains('4.0') & cleaned_data.Year.str.contains('2013'), 'Code'] = cleaned_data.loc[cleaned_data.Title.str.contains('MECHANICS OF SOLIDS') & cleaned_data.Credit.str.contains('4.0') & cleaned_data.Year.str.contains('2013'), 'Code']+'_CE1102'
cleaned_data[code_filter1 & ~code_filter2 & year_filter][['Title', 'Year', 'Time', 'Code']]
checkpoint = copy.deepcopy(cleaned_data)

,Title,Year,Time,Code
230278,ENGINEERING PHYSICS,2013,NOV_DEC,COA103_COB203
230279,ENGINEERING GRAPHICS,2013,NOV_DEC,COA105_COB205_NEW__COA107_COB207_OLD_
230280,BASIC ELECTRONICS,2013,NOV_DEC,COB102_COA202_NEW__COA105_COB205_OLD_
230281,BASIC ELECTRONICS,2013,NOV_DEC,COB102_COA202_NEW__COA105_COB205_OLD_
230282,COMPUTER PROGRAMMING USING C,2013,NOV_DEC,COB105_COA205
233019,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233020,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233021,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233022,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233023,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233024,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233025,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233026,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233027,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233028,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233029,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233030,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233031,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233032,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233033,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233034,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233035,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233036,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233037,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233038,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233039,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233040,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233041,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233042,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
233043,ENGINEERING MATHEMATICS I,2013,NOV_DEC,COA101_COB101__MA1101
...,...,...,...,...
266572,ELEMENTS OF MECHANICAL ENGINEERING,2013,APRIL_MAY_APR,COB204_COA104_NEW__COA204_COB104_OLD_
266573,ELEMENTS OF MECHANICAL ENGINEERING,2013,APRIL_MAY_APR,COB204_COA104_NEW__COA204_COB104_OLD_
266852,ENGINEERING GRAPHICS,2013,APRIL_MAY_APR,COB205_COA105_NEW__COB207_COA107_OLD_
266853,ENGINEERING GRAPHICS,2013,APRIL_MAY_APR,COB205_COA105_NEW__COB207_COA107_OLD_
266854,ENGINEERING GRAPHICS,2013,APRIL_MAY_APR,COB205_COA105_NEW__COB207_COA107_OLD_
266855,ENGINEERING GRAPHICS,2013,APRIL_MAY_APR,COB205_COA105_NEW__COB207_COA107_OLD_
266856,ENGINEERING GRAPHICS,2013,APRIL_MAY_APR,COB205_COA105_NEW__COB207_COA107_OLD_
266857,ENGINEERING GRAPHICS,2013,APRIL_MAY_APR,COB205_COA105_NEW__COB207_COA107_OLD_
267137,COMMUNICATION SKILLS,2013,APRIL_MAY_APR,COB206_COA106_NEW__COA205_COB105_OLD_
267138,COMMUNICATION SKILLS,2013,APRIL_MAY_APR,COB206_COA106_NEW__COA205_COB105_OLD_
267139,COMMUNICATION SKILLS,2013,APRIL_MAY_APR,COB206_COA106_NEW__COA205_COB105_OLD_
267140,COMMUNICATION SKILLS,2013,APRIL_MAY_APR,COB206_COA106_NEW__COA205_COB105_OLD_
267141,COMMUNICATION SKILLS,2013,APRIL_MAY_APR,COB206_COA106_NEW__COA205_COB105_OLD_
267142,COMMUNICATION SKILLS,2013,APRIL_MAY_APR,COB206_COA106_NEW__COA205_COB105_OLD_
267143,COMMUNICATION SKILLS,2013,APRIL_MAY_APR,COB206_COA106_NEW__COA205_COB105_OLD_
267144,COMMUNICATION SKILLS,2013,APRIL_MAY_APR,COB206_COA106_NEW__COA205_COB105_OLD_
267145,COMMUNICATION SKILLS,2013,APRIL_MAY_APR,COB206_COA106_NEW__COA205_COB105_OLD_
267146,COMMUNICATION SKILLS,2013,APRIL_MAY_APR,COB206_COA106_NEW__COA205_COB105_OLD_
267147,COMMUNICATION SKILLS,2013,APRIL_MAY_APR,COB206_COA106_NEW__COA205_COB105_OLD_
267148,COMMUNICATION SKILLS,2013,APRIL_MAY_APR,COB206_COA106_NEW__COA205_COB105_OLD_
267149,COMMUNICATION SKILLS,2013,APRIL_MAY_APR,COB206_COA106_NEW__COA205_COB105_OLD_
267150,COMMUNICATION SKILLS,2013,APRIL_MAY_APR,COB206_COA106_NEW__COA205_COB105_OLD_
267428,ENGINEERING PHYSICS LAB,2013,APRIL_MAY_APR,COB207_COA107_NEW__COB208_COA108_OLD_
267429,ENGINEERING PHYSICS LAB,2013,APRIL_MAY_APR,COB207_COA107_NEW__COB208_COA108_OLD_
267430,ENGINEERING PHYSICS LAB,2013,APRIL_MAY_APR,COB207_COA107_NEW__COB208_COA108_OLD_
267431,ENGINEERING PHYSICS LAB,2013,APRIL_MAY_APR,COB207_COA107_NEW__COB208_COA108_OLD_
267432,ENGINEERING PHYSICS LAB,2013,APRIL_MAY_APR,COB207_COA107_NEW__COB208_COA108_OLD_
267709,WORKSHOP PRACTICE LAB,2013,APRIL_MAY_APR,COB208_COA108_NEW__COA209_COB109_OLD_
267710,WORKSHOP PRACTICE LAB,2013,APRIL_MAY_APR,COB208_COA108_NEW__COA209_COB109_OLD_
267711,WORKSHOP PRACTICE LAB,2013,APRIL_MAY_APR,COB208_COA108_NEW__COA209_COB109_OLD_

In [215]:
# sub : COA103, year : 2012, title : eng. physics
code_filter1 = cleaned_data['Code'].str.contains('COA')
code_filter2 = cleaned_data['Code'].str.contains('_CE1102')
cf3 = cleaned_data['Code'].str.contains('_MA1101')
cf4 = cleaned_data['Code'].str.contains('_PH1103')
year_filter = cleaned_data['Year'].str.contains('2013')
#cleaned_data.loc[cleaned_data.Title.str.contains('ENGINEERING PHYSICS') & cleaned_data.Credit.str.contains('4.0') & cleaned_data.Year.str.contains('2013'), 'Code'] = cleaned_data.loc[cleaned_data.Title.str.contains('ENGINEERING PHYSICS') & cleaned_data.Credit.str.contains('4.0') & cleaned_data.Year.str.contains('2013'), 'Code']+'_PH1103'
cleaned_data[year_filter & code_filter1 & ~code_filter2 & ~cf3 & ~cf4][['Time', 'Year', 'Code', 'Title', 'Credit']]
checkpoint = copy.deepcopy(cleaned_data)

In [224]:
# sub : COA104, year : 2012, title : EME
cf1 = cleaned_data['Code'].str.contains('COA')
cf2 = cleaned_data['Code'].str.contains('_CE1102')
cf3 = cleaned_data['Code'].str.contains('_MA1101')
cf4 = cleaned_data['Code'].str.contains('_PH1103')
cf5 = cleaned_data['Code'].str.contains('_ME1104')
year_filter = cleaned_data['Year'].str.contains('2013')
#cleaned_data.loc[cleaned_data.Title.str.contains('ELEMENTS OF MECHANICAL ENGINEERING') & cleaned_data.Credit.str.contains('4.0') & cleaned_data.Year.str.contains('2013'), 'Code'] = cleaned_data.loc[cleaned_data.Title.str.contains('ELEMENTS OF MECHANICAL ENGINEERING') & cleaned_data.Credit.str.contains('4.0') & cleaned_data.Year.str.contains('2013'), 'Code']+'_ME1104'
cleaned_data[year_filter & cf1 & ~cf2 & ~cf3 & ~cf4 & ~cf5][['Time', 'Year', 'Code', 'Title', 'Credit']]
checkpoint = copy.deepcopy(cleaned_data)

In [232]:
# sub : COA104, year : 2012, title = eng. graphics
cf1 = cleaned_data['Code'].str.contains('COA')
cf2 = cleaned_data['Code'].str.contains('_CE1102')
cf3 = cleaned_data['Code'].str.contains('_MA1101')
cf4 = cleaned_data['Code'].str.contains('_PH1103')
cf5 = cleaned_data['Code'].str.contains('_ME1104')
cf6 = cleaned_data['Code'].str.contains('_ME1105')
year_filter = cleaned_data['Year'].str.contains('2013')
#cleaned_data.loc[cleaned_data.Title.str.contains('ENGINEERING GRAPHICS') & cleaned_data.Credit.str.contains('3.0') & cleaned_data.Year.str.contains('2013'), 'Code'] = cleaned_data.loc[cleaned_data.Title.str.contains('ENGINEERING GRAPHICS') & cleaned_data.Credit.str.contains('3.0') & cleaned_data.Year.str.contains('2013'), 'Code']+'_ME1105'
cleaned_data[year_filter & cf1 & ~cf2 & ~cf3 & ~cf4 & ~cf5 & ~cf6][['Time', 'Year', 'Code', 'Title', 'Credit', 'Dir']]
checkpoint = copy.deepcopy(cleaned_data)

In [240]:
# sub : COA106, year : 2012, title = COMMUNICATION SKILLS

cf1 = cleaned_data['Code'].str.contains('COA')
cf2 = cleaned_data['Code'].str.contains('_CE1102')
cf3 = cleaned_data['Code'].str.contains('_MA1101')
cf4 = cleaned_data['Code'].str.contains('_PH1103')
cf5 = cleaned_data['Code'].str.contains('_ME1104')
cf6 = cleaned_data['Code'].str.contains('_ME1105')
cf7 = cleaned_data['Code'].str.contains('_BA1106')

tf1 = cleaned_data['Title'].str.contains('COMPUTER PROGRAMMING USING C')

year_filter = cleaned_data['Year'].str.contains('2013')
#cleaned_data.loc[cleaned_data.Title.str.contains('COMMUNICATION SKILLS') & cleaned_data.Credit.str.contains('3.0') & cleaned_data.Year.str.contains('2013'), 'Code'] = cleaned_data.loc[cleaned_data.Title.str.contains('COMMUNICATION SKILLS') & cleaned_data.Credit.str.contains('3.0') & cleaned_data.Year.str.contains('2013'), 'Code']+'_BA1106'
cleaned_data[year_filter & tf1 & ~cf2 & ~cf3 & ~cf4 & ~cf5 & ~cf6 & ~cf7][['Time', 'Year', 'Code', 'Title', 'Credit']]
checkpoint = copy.deepcopy(cleaned_data)

In [245]:
# sub : COA106, year : 2012, title = COMPUTER PROGRAMMING USING C

cf1 = cleaned_data['Code'].str.contains('COA')
cf2 = cleaned_data['Code'].str.contains('_CE1102')
cf3 = cleaned_data['Code'].str.contains('_MA1101')
cf4 = cleaned_data['Code'].str.contains('_PH1103')
cf5 = cleaned_data['Code'].str.contains('_ME1104')
cf6 = cleaned_data['Code'].str.contains('_ME1105')
cf7 = cleaned_data['Code'].str.contains('_BA1106')
cf8 = cleaned_data['Code'].str.contains('_CS1110')

tf1 = cleaned_data['Title'].str.contains('COMPUTER PROGRAMMING USING C')

year_filter = cleaned_data['Year'].str.contains('2013')
#cleaned_data.loc[cleaned_data.Title.str.contains('COMPUTER PROGRAMMING USING C') & cleaned_data.Credit.str.contains('4.0') & cleaned_data.Year.str.contains('2013'), 'Code'] = cleaned_data.loc[cleaned_data.Title.str.contains('COMPUTER PROGRAMMING USING C') & cleaned_data.Credit.str.contains('4.0') & cleaned_data.Year.str.contains('2013'), 'Code']+'_CS1110'
cleaned_data[year_filter & cf1 & ~cf2 & ~cf3 & ~cf4 & ~cf5 & ~cf6 & ~cf7 & ~cf8][['Time', 'Year', 'Code', 'Credit', 'Title']]
checkpoint = copy.deepcopy(cleaned_data)

In [272]:
# sub : COA108, year : 2012, title = WORKSHOP PRACTICE LAB

cf1 = cleaned_data['Code'].str.contains('COA')
cf2 = cleaned_data['Code'].str.contains('_CE1102')
cf3 = cleaned_data['Code'].str.contains('_MA1101')
cf4 = cleaned_data['Code'].str.contains('_PH1103')
cf5 = cleaned_data['Code'].str.contains('_ME1104')
cf6 = cleaned_data['Code'].str.contains('_ME1105')
cf7 = cleaned_data['Code'].str.contains('_BA1106')
cf8 = cleaned_data['Code'].str.contains('_CS1110')
cf9 = cleaned_data['Code'].str.contains('_ME1161')
tf1 = cleaned_data['Title'].str.contains('COMPUTER PROGRAMMING USING C')

year_filter = cleaned_data['Year'].str.contains('2013')
#cleaned_data.loc[cleaned_data.Title.str.contains('WORKSHOP PRACTICE LAB') & cleaned_data.Credit.str.contains('1.5') & cleaned_data.Year.str.contains('2013'), 'Code'] = cleaned_data.loc[cleaned_data.Title.str.contains('WORKSHOP PRACTICE LAB')  & cleaned_data.Credit.str.contains('1.5') & cleaned_data.Year.str.contains('2013'), 'Code']+'_ME1161'
cleaned_data[year_filter & cf1 & ~cf9 & ~cf8 & ~cf2 & ~cf3 & ~cf4 & ~cf5 & ~cf6 & ~cf7][['Time', 'Year', 'Code', 'Title', 'Credit']]
checkpoint = copy.deepcopy(cleaned_data)

In [264]:
# sub : COA107, year : 2012, title = ENGINEERING PHYSICS LAB

cf1 = cleaned_data['Code'].str.contains('COA')
cf2 = cleaned_data['Code'].str.contains('_CE1102')
cf3 = cleaned_data['Code'].str.contains('_MA1101')
cf4 = cleaned_data['Code'].str.contains('_PH1103')
cf5 = cleaned_data['Code'].str.contains('_ME1104')
cf6 = cleaned_data['Code'].str.contains('_ME1105')
cf7 = cleaned_data['Code'].str.contains('_BA1106')
cf8 = cleaned_data['Code'].str.contains('_CS1110')
cf9 = cleaned_data['Code'].str.contains('_ME1161')
cf10 = cleaned_data['Code'].str.contains('_PH1162')

tf1 = cleaned_data['Title'].str.contains('COMPUTER PROGRAMMING USING C')

year_filter = cleaned_data['Year'].str.contains('2013')
#cleaned_data.loc[cleaned_data.Title.str.contains('ENGINEERING PHYSICS LAB') & cleaned_data.Credit.str.contains('1.5') & cleaned_data.Year.str.contains('2013'), 'Code'] = cleaned_data.loc[cleaned_data.Title.str.contains('ENGINEERING PHYSICS LAB') & cleaned_data.Credit.str.contains('1.5') & cleaned_data.Year.str.contains('2013'), 'Code']+'_PH1162'
cleaned_data[year_filter & cf1 & ~cf10 & ~cf9 & ~cf8 & ~cf2 & ~cf3 & ~cf4 & ~cf5 & ~cf6 & ~cf7][['Time', 'Year', 'Code', 'Title', 'Credit']]
checkpoint = copy.deepcopy(cleaned_data)

In [273]:
# sub : COA107, year : 2012, title = ENGINEERING CHEMISTRY

cf1 = cleaned_data['Code'].str.contains('COA')
cf2 = cleaned_data['Code'].str.contains('_CE1102')
cf3 = cleaned_data['Code'].str.contains('_MA1101')
cf4 = cleaned_data['Code'].str.contains('_PH1103')
cf5 = cleaned_data['Code'].str.contains('_ME1104')
cf6 = cleaned_data['Code'].str.contains('_ME1105')
cf7 = cleaned_data['Code'].str.contains('_BA1106')
cf8 = cleaned_data['Code'].str.contains('_CS1110')
cf9 = cleaned_data['Code'].str.contains('_ME1161')
cf10 = cleaned_data['Code'].str.contains('_PH1162')
cf11 = cleaned_data['Code'].str.contains('_CH1108')

tf1 = cleaned_data['Title'].str.contains('ENGINEERING MATHEMATICS II')

year_filter = cleaned_data['Year'].str.contains('2013')
#cleaned_data.loc[cleaned_data.Title.str.contains('ENGINEERING CHEMISTRY') & cleaned_data.Year.str.contains('2013') & cleaned_data.Credit.str.contains('4.0'), 'Code'] = cleaned_data.loc[cleaned_data.Title.str.contains('ENGINEERING CHEMISTRY') & cleaned_data.Year.str.contains('2013') & cleaned_data.Credit.str.contains('4.0'), 'Code']+'_CH1108'
cleaned_data[year_filter & tf1 & ~cf11 & ~cf10 & ~cf9 & ~cf8 & ~cf2 & cf3 & ~cf4 & ~cf5 & ~cf6 & ~cf7][['Time', 'Year', 'Code', 'Title', 'Credit']]
#checkpoint = copy.deepcopy(cleaned_data)

,Time,Year,Code,Title,Credit
27172,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27173,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27174,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27175,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27176,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27177,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27178,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27179,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27180,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27181,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27182,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27183,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27184,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27185,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27186,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27187,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27188,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27189,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27190,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27191,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27192,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27193,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27194,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27195,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27196,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27197,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27198,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27199,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27200,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
27201,APRIL_MAY_APR,2013,MA1201__MA1101,ENGINEERING MATHEMATICS II _MA1201_,4.0
...,...,...,...,...,...
263323,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263324,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263325,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263326,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263327,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263328,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263329,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263330,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263331,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263332,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263333,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263334,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263335,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263336,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263337,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263338,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263339,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263340,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263341,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263342,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263343,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263344,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263345,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263346,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263347,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263348,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263349,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263350,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263351,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0
263352,APRIL_MAY_APR,2013,COA201_COB201__MA1101,ENGINEERING MATHEMATICS II,4.0

In [161]:
# sub : COA107, year : 2012, title = ENGINEERING MATHEMATICS II

cf1 = cleaned_data['Code'].str.contains('COA')
cf2 = cleaned_data['Code'].str.contains('_CE1102')
cf3 = cleaned_data['Code'].str.contains('_MA1101')
cf4 = cleaned_data['Code'].str.contains('_PH1103')
cf5 = cleaned_data['Code'].str.contains('_ME1104')
cf6 = cleaned_data['Code'].str.contains('_ME1105')
cf7 = cleaned_data['Code'].str.contains('_BA1106')
cf8 = cleaned_data['Code'].str.contains('_CS1110')
cf9 = cleaned_data['Code'].str.contains('_ME1161')
cf10 = cleaned_data['Code'].str.contains('_PH1162')
cf11 = cleaned_data['Code'].str.contains('_CH1108')
cf12 = cleaned_data['Code'].str.contains('_EC1107')
cf13 = cleaned_data['Code'].str.contains('_MA1201')
tf1 = cleaned_data['Title'].str.contains('COMPUTER PROGRAMMING II')

year_filter = cleaned_data['Year'].str.contains('2012')
#cleaned_data.loc[cleaned_data.Title.str.contains('ENGINEERING MATHEMATICS II') & cleaned_data.Year.str.contains('2012') & cleaned_data.Credit.str.contains('4.0'), 'Code'] = cleaned_data.loc[cleaned_data.Title.str.contains('ENGINEERING MATHEMATICS II') & cleaned_data.Year.str.contains('2012') & cleaned_data.Credit.str.contains('4.0'), 'Code']+'_MA1201'
cleaned_data[year_filter & cf1 & ~cf13 & ~cf12 & ~cf11 & ~cf10 & ~cf9 & ~cf8 & ~cf2 & ~cf3 & ~cf4 & ~cf5 & ~cf6 & ~cf7][['Time', 'Year', 'Code', 'Title', 'Credit']]
checkpoint = copy.deepcopy(cleaned_data)

In [167]:
# sub : COA107, year : 2012, title = ENVIRONMENTAL SCIENCE

cf1 = cleaned_data['Code'].str.contains('COB')
cf2 = cleaned_data['Code'].str.contains('_CE1102')
cf3 = cleaned_data['Code'].str.contains('_MA1101')
cf4 = cleaned_data['Code'].str.contains('_PH1103')
cf5 = cleaned_data['Code'].str.contains('_ME1104')
cf6 = cleaned_data['Code'].str.contains('_ME1105')
cf7 = cleaned_data['Code'].str.contains('_BA1106')
cf8 = cleaned_data['Code'].str.contains('_CS1110')
cf9 = cleaned_data['Code'].str.contains('_ME1161')
cf10 = cleaned_data['Code'].str.contains('_PH1162')
cf11 = cleaned_data['Code'].str.contains('_CH1108')
cf12 = cleaned_data['Code'].str.contains('_EC1107')
cf13 = cleaned_data['Code'].str.contains('_MA1201')
cf14 = cleaned_data['Code'].str.contains('_CH1191')

tf1 = cleaned_data['Title'].str.contains('COMPUTER PROGRAMMING II')

year_filter = cleaned_data['Year'].str.contains('2012')
#cleaned_data.loc[cleaned_data.Title.str.contains('ENVIRONMENTAL SCIENCE') & cleaned_data.Year.str.contains('2012') & cleaned_data.Credit.str.contains('2.0'), 'Code'] = cleaned_data.loc[cleaned_data.Title.str.contains('ENVIRONMENTAL SCIENCE') & cleaned_data.Year.str.contains('2012') & cleaned_data.Credit.str.contains('2.0'), 'Code']+'_CH1191'
cleaned_data[year_filter & cf1 & ~cf14 & ~cf13 & ~cf12 & ~cf11 & ~cf10 & ~cf9 & ~cf8 & ~cf2 & ~cf3 & ~cf4 & ~cf5 & ~cf6 & ~cf7][['Time', 'Year', 'Code', 'Title', 'Credit']]
checkpoint = copy.deepcopy(cleaned_data)

In [172]:
# sub : COA107, year : 2012, title = ELEMENTS OF ELECTRICAL ENGINEERING

cf1 = cleaned_data['Code'].str.contains('COB')
cf2 = cleaned_data['Code'].str.contains('_CE1102')
cf3 = cleaned_data['Code'].str.contains('_MA1101')
cf4 = cleaned_data['Code'].str.contains('_PH1103')
cf5 = cleaned_data['Code'].str.contains('_ME1104')
cf6 = cleaned_data['Code'].str.contains('_ME1105')
cf7 = cleaned_data['Code'].str.contains('_BA1106')
cf8 = cleaned_data['Code'].str.contains('_CS1110')
cf9 = cleaned_data['Code'].str.contains('_ME1161')
cf10 = cleaned_data['Code'].str.contains('_PH1162')
cf11 = cleaned_data['Code'].str.contains('_CH1108')
cf12 = cleaned_data['Code'].str.contains('_EC1107')
cf13 = cleaned_data['Code'].str.contains('_MA1201')
cf14 = cleaned_data['Code'].str.contains('_CH1191')
cf15 = cleaned_data['Code'].str.contains('_EE1109')

tf1 = cleaned_data['Title'].str.contains('COMPUTER PROGRAMMING II')

year_filter = cleaned_data['Year'].str.contains('2012')
#cleaned_data.loc[cleaned_data.Title.str.contains('ELEMENTS OF ELECTRICAL ENGINEERING') & cleaned_data.Year.str.contains('2012') & cleaned_data.Credit.str.contains('4.0'), 'Code'] = cleaned_data.loc[cleaned_data.Title.str.contains('ELEMENTS OF ELECTRICAL ENGINEERING') & cleaned_data.Year.str.contains('2012') & cleaned_data.Credit.str.contains('4.0'), 'Code']+'_EE1109'
cleaned_data[year_filter & cf1 & ~cf15 & ~cf14 & ~cf13 & ~cf12 & ~cf11 & ~cf10 & ~cf9 & ~cf8 & ~cf2 & ~cf3 & ~cf4 & ~cf5 & ~cf6 & ~cf7][['Time', 'Year', 'Code', 'Title', 'Credit']]
checkpoint = copy.deepcopy(cleaned_data)

In [179]:
# sub : COA107, year : 2012, title = ENGINEERING CHEMISTRY LAB

cf1 = cleaned_data['Code'].str.contains('COB')
cf2 = cleaned_data['Code'].str.contains('_CE1102')
cf3 = cleaned_data['Code'].str.contains('_MA1101')
cf4 = cleaned_data['Code'].str.contains('_PH1103')
cf5 = cleaned_data['Code'].str.contains('_ME1104')
cf6 = cleaned_data['Code'].str.contains('_ME1105')
cf7 = cleaned_data['Code'].str.contains('_BA1106')
cf8 = cleaned_data['Code'].str.contains('_CS1110')
cf9 = cleaned_data['Code'].str.contains('_ME1161')
cf10 = cleaned_data['Code'].str.contains('_PH1162')
cf11 = cleaned_data['Code'].str.contains('_CH1108')
cf12 = cleaned_data['Code'].str.contains('_EC1107')
cf13 = cleaned_data['Code'].str.contains('_MA1201')
cf14 = cleaned_data['Code'].str.contains('_CH1191')
cf15 = cleaned_data['Code'].str.contains('_EE1109')
cf16 = cleaned_data['Code'].str.contains('_CH1163')

tf1 = cleaned_data['Title'].str.contains('COMPUTER PROGRAMMING II')

year_filter = cleaned_data['Year'].str.contains('2012')
#cleaned_data.loc[cleaned_data.Title.str.contains('ENGINEERING CHEMISTRY LAB') & cleaned_data.Year.str.contains('2012') & cleaned_data.Credit.str.contains('1.5'), 'Code'] = cleaned_data.loc[cleaned_data.Title.str.contains('ENGINEERING CHEMISTRY LAB') & cleaned_data.Year.str.contains('2012') & cleaned_data.Credit.str.contains('1.5'), 'Code']+'_CH1163'
cleaned_data[year_filter & cf1 & ~cf16 & ~cf15 & ~cf14 & ~cf13 & ~cf12 & ~cf11 & ~cf10 & ~cf9 & ~cf8 & ~cf2 & ~cf3 & ~cf4 & ~cf5 & ~cf6 & ~cf7][['Time', 'Year', 'Code', 'Title', 'Credit']]
checkpoint = copy.deepcopy(cleaned_data)

In [184]:
# sub : COA107, year : 2012, title = COMPUTER PROGRAMMING LAB

cf1 = cleaned_data['Code'].str.contains('COB')
cf2 = cleaned_data['Code'].str.contains('_CE1102')
cf3 = cleaned_data['Code'].str.contains('_MA1101')
cf4 = cleaned_data['Code'].str.contains('_PH1103')
cf5 = cleaned_data['Code'].str.contains('_ME1104')
cf6 = cleaned_data['Code'].str.contains('_ME1105')
cf7 = cleaned_data['Code'].str.contains('_BA1106')
cf8 = cleaned_data['Code'].str.contains('_CS1110')
cf9 = cleaned_data['Code'].str.contains('_ME1161')
cf10 = cleaned_data['Code'].str.contains('_PH1162')
cf11 = cleaned_data['Code'].str.contains('_CH1108')
cf12 = cleaned_data['Code'].str.contains('_EC1107')
cf13 = cleaned_data['Code'].str.contains('_MA1201')
cf14 = cleaned_data['Code'].str.contains('_CH1191')
cf15 = cleaned_data['Code'].str.contains('_EE1109')
cf16 = cleaned_data['Code'].str.contains('_CH1163')
cf17 = cleaned_data['Code'].str.contains('_CS1164')

tf1 = cleaned_data['Title'].str.contains('COMPUTER PROGRAMMING II')

year_filter = cleaned_data['Year'].str.contains('2012')
#cleaned_data.loc[cleaned_data.Title.str.contains('COMPUTER PROGRAMMING LAB') & cleaned_data.Year.str.contains('2012') & cleaned_data.Credit.str.contains('1.5'), 'Code'] = cleaned_data.loc[cleaned_data.Title.str.contains('COMPUTER PROGRAMMING LAB') & cleaned_data.Year.str.contains('2012') & cleaned_data.Credit.str.contains('1.5'), 'Code']+'_CS1164'
cleaned_data[year_filter & cf1 & ~cf17 & ~cf16 & ~cf15 & ~cf14 & ~cf13 & ~cf12 & ~cf11 & ~cf10 & ~cf9 & ~cf8 & ~cf2 & ~cf3 & ~cf4 & ~cf5 & ~cf6 & ~cf7][['Time', 'Year', 'Code', 'Title', 'Credit']]
checkpoint = copy.deepcopy(cleaned_data)

coa_filter = cleaned_data['Code'].str.contains('COA207')
year_filter = cleaned_data['Year'].str.contains('2017')
cleaned_data[coa_filter & year_filter]

In [20]:
copy_cleaned = copy.deepcopy(cleaned_data)
copy_cleaned.head()

,reg_no,int,ext,total,grade,Time,Year,Type,Code,Credit,...,Cutoff_B,Cutoff_C,Cutoff_D,Cutoff_E,Dir,Absentees,Malpractices,Detentions,NA,appeared
20848,20140002,64.70,18,83.00,A,NOV-DEC,2018,NORMAL,EC1761,1.5,...,66.0,58.0,50.0,NOV-DEC-2018,0,0,4,0.0,53,NaN
20849,20140122,42.95,18,61.00,D,NOV-DEC,2018,NORMAL,EC1761,1.5,...,66.0,58.0,50.0,NOV-DEC-2018,0,0,4,0.0,53,NaN
20850,20140259,45.70,19,65.00,D,NOV-DEC,2018,NORMAL,EC1761,1.5,...,66.0,58.0,50.0,NOV-DEC-2018,0,0,4,0.0,53,NaN
20851,20140615,54.17,15,70.00,C,NOV-DEC,2018,NORMAL,EC1761,1.5,...,66.0,58.0,50.0,NOV-DEC-2018,0,0,4,0.0,53,NaN
20852,20140685,0.00,DT,0.00,DT,NOV-DEC,2018,NORMAL,EC1761,1.5,...,66.0,58.0,50.0,NOV-DEC-2018,0,0,4,0.0,53,NaN

## Different Approach

In [41]:
cleaned_data[cleaned_data['Title'].str.contains('SOFT COMPUTING')][['Title','Code', 'Time', 'Year']].Title.unique()

array(['SOFT COMPUTING _11 12 13 14 15_', 'SOFT COMPUTING',
       'ADVANCED SOFT COMPUTING', 'SOFT COMPUTING _11 12 13 14_',
       'SOFT COMPUTING _11 12 13_', 'SOFT COMPUTING _EL III_',
       'SOFT COMPUTING _11 12_', 'SOFT COMPUTING _11_',
       'ELECTIVE III _SOFT COMPUTING_', 'SOFT COMPUTING _ELECTIVE III_'],
      dtype=object)

In [66]:
cleaned_data[cleaned_data['Title'].str.contains('SOFT COMPUTING') & cleaned_data['Title'].str.contains('LAB')][['Title', 'Code', 'Year']].Code.unique()

array([], dtype=object)

In [58]:
cleaned_data[cleaned_data['Code'].str.contains('IT2227')][['Title','Code', 'Type', 'Time', 'Year']].Title.unique()

array(['SOFT COMPUTING _EL III_'], dtype=object)

In [61]:
cleaned_data[cleaned_data['Code'].str.contains('IT2227') & cleaned_data['Type'].str.contains('NORMAL')][['Title', 'Code', 'Time', 'Year', 'Type']].head()

                          Title    Code      Time  Year    Type
130018  SOFT COMPUTING _EL III_  IT2227  MAY_JUNE  2016  NORMAL
130019  SOFT COMPUTING _EL III_  IT2227  MAY_JUNE  2016  NORMAL
176492  SOFT COMPUTING _EL III_  IT2227  MAY_JUNE  2015  NORMAL
176493  SOFT COMPUTING _EL III_  IT2227  MAY_JUNE  2015  NORMAL

In [64]:
# subject code change

cleaned_data.loc[cleaned_data['Title'].str.contains('SOFT COMPUTING') & ~cleaned_data['Title'].str.contains('LAB') & cleaned_data['Code'].str.contains('MIT204') & ~cleaned_data['Code'].str.contains('IT2233'), 'Code'] = cleaned_data.loc[cleaned_data['Title'].str.contains('SOFT COMPUTING') & ~cleaned_data['Title'].str.contains('LAB') & cleaned_data['Code'].str.contains('MIT204') & ~cleaned_data['Code'].str.contains('IT2233'), 'Code'] + '_IT2233'


if type(cleaned_data) != None:    
    while(True):
        rel_path = 'MainDatabase.csv'
        path = os.path.join(os.getcwd(), rel_path)
        if os.path.exists(path):
            with open(path, 'w') as f:
                cleaned_data.to_csv(f, index=False, header=False)
                f.close()
            break

        else:
            with open(path, "w") as f:
                f.close()

import pickle

unique_title = cleaned_data.Title.unique().tolist()
with open('Cleaned_Data/title.pkl', 'wb') as f:
    pickle.dump(unique_title, f)

In [110]:
while(True):
            rel_path = 'MainDatabase.csv'
            path = os.path.join(os.getcwd(), rel_path)
            if os.path.exists(path):
                with open(path, 'w') as f:
                    cleaned_data.to_csv(f, index=False, header=False)
                    f.close()
                break

            else:
                with open(path, "w") as f:
                    f.close()

In [46]:
name = 'my name is mihir'
name.remove('mihir')
name

AttributeError: 'str' object has no attribute 'remove'